---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="">
	<body>
		<div class="bg-[#ccd2d2] w-[100%] h-[50px]"></div>
		<div class="bg-[url('/img/fondo2.jpeg')] w-[100%] h-[650px] bg-cover list-none">
			<li class="text-white text-9xl ml-[35%] pb-[100px] font-bold">VERSELL</li>
		
			<div class="grid grid-cols-2 gap-y-14  py-[30px] mx-[25%] place-content-center">
				<div class="w-[86%] h-[50px]  bg-[#d9d9d9] rounded-full">
					<li class="text-4xl text-center">Acerca De</li>
				</div>
				<div class="w-[86%] h-[50px]  bg-[#d9d9d9] rounded-full">
					<li class="text-4xl text-center">Contacto</li>
				</div>
				<div class="w-[86%] h-[50px]  bg-[#d9d9d9] rounded-full">
					<li class="text-4xl text-center">Vender</li>
				</div>
				<div class="w-[86%] h-[50px]  bg-[#d9d9d9] rounded-full">
					<li class="text-4xl text-center">Comprar</li>
				</div>
				<div class="w-[86%] h-[50px]  bg-[#d9d9d9] rounded-full">
					<li class="text-4xl text-center">Servicios</li>
				</div>
				<div class="w-[86%] h-[50px]  bg-[#d9d9d9] rounded-full">
					<li class="text-4xl text-center">Recomendaciones</li>
				</div>
			</div>
			

	<div class="w-[100%] h-[700px] bg-[#d9d9d9] list-none inline-flex">
		<div class="w-[30%] h-[30%] mt-[15%] ml-[10%]">
			<li class="text-8xl">¿QUIENES SOMOS?</li>
		</div>

		<div class="w-[50%] h-[60%] bg-[#63a8d4] mt-[10%] ml-[5%] border-2 border-blue-700 rounded-2xl">
			<li class="text-4xl text-center mx-[5%] my-[5%]">
				Somos una plataforma que se centra en contactar con agricultores que se encuentren interesados en distribuir sus productos de forma directa y sin recurrir a muchos intermediarios ya que esto baja considerablemente sus ganancias, pero gracias a VerSell estos agricultores pueden transportar de forma directa sus productos y tener ganancias mas justas.
			</li>
		</div>

	</div>

	</body>

</Layout>


