---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="">
	<div class="w-[100%] h-auto">
		<div class="bg-[url('public/img/fondos/fondo2.jpeg')] w-[100%] h-[900px] bg-cover list-none  ">
			<li class="text-[#574240] text-9xl font-bold mx-[35%]">VERSELL</li>

			<div class="bg-[#574240] w-[40%] h-[43%] rounded-3xl bg-opacity-70 ml-[15%] mt-[10%] inline-flex">		
				<li class="text-white text-3xl text-justify px-7 pt-10 pb-10 opacity-100">
					Somos una plataforma que se centra en contactar con agricultores que se encuentren interesados en distribuir sus productos de forma directa y sin recurrir a muchos intermediarios ya que esto baja considerablemente sus ganancias, pero gracias a VerSell estos agricultores pueden transportar de forma directa sus productos y tener ganancias mas justas.
				</li>
			</div>
			<div class="inline-flex">
				<div>
					<div class="ml-[150px] w-[100%] h-[20%] bg-[#a2ae36] ">
						<p class="text-white text-2xl mx-[20%] py-[2%]">¿Que haremos hoy?</p>
					</div>
					<div class="flex-col text-white text-2xl font-medium mt-[45%] ml-[15%] ">
						<ul class="inline-flex space-x-12">
							<a href="/venta" class="boton botonA">VENDER<a></a>
							<a href="/compra" class="boton botonA">COMPRAR<a></a>
						</ul>
					</div>
				</div>	
			</div>	
		</div>

		<section class="recomendaciones">
			<div class="w-[100%] h-[1000px] my-10 ">
				<div class="w-[90%] h-[800px] mx-[5%] py-[1%]  rounded-xl bg-[#719c64] ">
				<div class="w-[98%] h-[760px] bg-white mx-auto rounded-3xl ">
				</div>

				</div>

			</div>
		</section>

	</div>

		


</Layout>


<style>
	.botonA{
		@apply hover:bg-white hover:text-[#4f5733] hover:cursor-pointer;
	}
	.boton{
		@apply bg-[#4f5733] px-[20%] py-[2%] rounded-full border-2 border-[#4f5733];
	}
</style>