---
import Layout from "../../layouts/Layout2.astro";
---

<Layout title="Comprar">
        <div class="w-[100%] h-[3000px] bg-[#595048]">
                <p class="text-white text-4xl text-center font-extrabold pt-[2%] mb-[5%]">COMPRAR</p>
                <div class="inline-flex float-end z-10 mr-10 w-[30%] h-[20%] pb-[20%] bg-[#f2ede4] sticky top-[15%] rounded-3xl">
                    <div class="w-[100%] ">
                        <p class="text-3xl font-bold text-center">PRODUCTOS</p>
                        <ul class="mx-[2%] text-2xl flex-col text-center">
                        <li>Tomates</li>
                        <li>Cebollin</li>
                        <li>Mazorca</li>
                        <li>Pimenton</li>
                        <li>Pepino</li>
                        <li>Lechuga</li>
                        <li>Papa</li>
                        <li>Cilantro</li>
                    </ul>
                    </div>
                    
                </div>
                <div class=" bg-[#f2ede4] w-[40%] h-[10%] my-3 rounded-3xl  ml-[10%] inline-flex"> 	
                    <div class="bg-[url('public/img/tomate.png')] w-[30%] h-[69%] mx-[3%] my-[5%] rounded-full bg-cover">
                    </div>
                    <ul class="flex-col mx-[3%] my-[10%] font-bold">
                        <li class="my-[1%] text-2xl">Nombre: Tomate</li>
                        <li class="my-[1%] text-2xl">Lugar de procedencia: Abrego</li>
                        <li class="my-[1%] text-2xl">Calificacion: 6/10</li>
                        <li class="my-[1%] mb-[10%] text-3xl">Precio: 500$ unidad </li>
                        <a href="/menu" class="boton botonA ">COMPRAR</a>
                    </ul>
                </div>
                <div class="bg-[#f2ede4] w-[40%] my-3 h-[10%] rounded-3xl  ml-[10%] inline-flex">		
                    <div class="bg-[url('public/img/cebollin.jpg')] w-[30%] h-[69%] mx-[3%] my-[5%] rounded-full bg-cover">
                    </div>
                    <ul class="flex-col mx-[3%] my-[10%] font-bold">
                        <li class="my-[1%] text-2xl">Nombre: Cebollin</li>
                        <li class="my-[1%] text-2xl">Lugar de procedencia: La playa</li>
                        <li class="my-[1%] text-2xl">Calificacion: 8/10</li>
                        <li class="my-[1%] mb-[10%] text-3xl">Precio: 700$ unidad </li>
                        <a href="/menu" class="boton botonA ">COMPRAR</a>
                    </ul>
                </div>
                <div class="bg-[#f2ede4] w-[40%] h-[10%] my-3 rounded-3xl  ml-[10%] inline-flex">		
                    <div class="bg-[url('public/img/mazorca.jfif')] w-[30%] h-[69%] mx-[3%] my-[5%] rounded-full bg-cover">
                    </div>
                    <ul class="flex-col mx-[3%] my-[10%] font-bold">
                        <li class="my-[1%] text-2xl">Nombre: Mazorca</li>
                        <li class="my-[1%] text-2xl">Lugar de procedencia: Hacarí</li>
                        <li class="my-[1%] text-2xl">Calificacion: 6/10</li>
                        <li class="my-[1%] mb-[10%] text-3xl">Precio: 5.400$ X 500g </li>
                        <a href="/menu" class="boton botonA ">COMPRAR</a>
                    </ul>
                </div>
                <div class="bg-[#f2ede4] w-[40%] h-[10%] my-3 rounded-3xl  ml-[10%] inline-flex">		
                    <div class="bg-[url('public/img/papa.jfif')] w-[30%] h-[69%] mx-[3%] my-[5%] rounded-full bg-cover">
                    </div>
                    <ul class="flex-col mx-[3%] my-[3%] font-bold">
                        <li class="my-[1%] text-2xl">Nombre: Papa</li>
                        <li class="my-[1%] text-2xl">Lugar de procedencia: Abrego</li>
                        <li class="my-[1%] text-2xl">Calificacion: 4/10</li>
                        <li class="my-[1%] mb-[10%] text-3xl">Precio: 2.800$ X kilo </li>
                        <a href="/menu" class="boton botonA ">COMPRAR</a>
                    </ul>
                </div>
                <div class="bg-[#f2ede4] w-[40%] h-[10%] my-3 rounded-3xl  ml-[10%] inline-flex">		
                    <div class="bg-[url('public/img/lechuga.jfif')] w-[30%] h-[69%] mx-[3%] my-[5%] rounded-full bg-cover">
                    </div>
                    <ul class="flex-col mx-[3%] my-[3%] font-bold">
                        <li class="my-[1%] text-2xl">Nombre: Lechuga</li>
                        <li class="my-[1%] text-2xl">Lugar de procedencia: La Ermita</li>
                        <li class="my-[1%] text-2xl">Calificacion: 9/10</li>
                        <li class="my-[1%] mb-[10%] text-3xl">Precio: 900$ unidad </li>
                        <a href="/menu" class="boton botonA ">COMPRAR</a>
                    </ul>
                </div>
                <div class="bg-[#f2ede4] w-[40%] h-[10%] my-3 rounded-3xl  ml-[10%] inline-flex">		
                    <div class="bg-[url('public/img/cilantro.jfif')] w-[30%] h-[69%] mx-[3%] my-[5%] rounded-full bg-cover">
                    </div>
                    <ul class="flex-col mx-[3%] my-[3%] font-bold">
                        <li class="my-[1%] text-2xl">Nombre: Cilantro</li>
                        <li class="my-[1%] text-2xl">Lugar de procedencia: La Playa</li>
                        <li class="my-[1%] text-2xl">Calificacion: 5/10</li>
                        <li class="my-[1%] mb-[10%] text-3xl">Precio: 	1.129$ X Kilo</li>
                        <a href="/menu" class="boton botonA ">COMPRAR</a>
                    </ul>
                </div>
                <div class="bg-[#f2ede4] w-[40%] h-[10%] my-3 rounded-3xl  ml-[10%] inline-flex">		
                    <div class="bg-[url('public/img/pimenton.jfif')] w-[30%] h-[69%] mx-[3%] my-[5%] rounded-full bg-cover">
                    </div>
                    <ul class="flex-col mx-[3%] my-[3%] font-bold">
                        <li class="my-[1%] text-2xl">Nombre: Pimenton</li>
                        <li class="my-[1%] text-2xl">Lugar de procedencia:Abrego</li>
                        <li class="my-[1%] text-2xl">Calificacion: 7/10</li>
                        <li class="my-[1%] mb-[10%] text-3xl">Precio: 5.700$ X Kilo</li>
                        <a href="/menu" class="boton botonA ">COMPRAR</a>
                    </ul>
                </div>
                <div class="bg-[#f2ede4] w-[40%] h-[10%] my-3 rounded-3xl  ml-[10%] inline-flex">		
                    <div class="bg-[url('public/img/pepino.jfif')] w-[30%] h-[69%] mx-[3%] my-[5%] rounded-full bg-cover">
                    </div>
                    <ul class="flex-col mx-[3%] my-[3%] font-bold">
                        <li class="my-[1%] text-2xl">Nombre: Pepino</li>
                        <li class="my-[1%] text-2xl">Lugar de procedencia: Hacarí</li>
                        <li class="my-[1%] text-2xl">Calificacion: 2/10</li>
                        <li class="my-[1%] mb-[10%] text-3xl">Precio: 4.500$ X Kilo</li>
                        <a href="/menu" class="boton botonA ">COMPRAR</a>
                    </ul>
                </div>
                

        </div>
    
</Layout>


<style>

.botonA{
		@apply hover:bg-white hover:text-[#4f5733] hover:cursor-pointer;
	}
	.boton{
		@apply bg-[#4f5733] px-[20%] py-[2%] rounded-full border-2 border-[#4f5733] text-white;
	}

</style>