---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>VerSell</title>
	</head>
	<body>
		<header class="bg-[#679e02] top-0 sticky w-full h-[auto] inline-flex">
			<img src="/public/img/logo.png" alt="" class="size-20 ml-[20%] mx-[5%]">
			<div class="inline-flex">
				<ul class="inline-flex text-white space-x-10 my-[5%] font-semibold mx-[5%]">
					<li>RECOMENDACIONES</li>
					<li>CONTACTO</li>
					<li>RESEÑAS</li>
					

				</ul>
			</div>
			<div class="inline-flex ml-[20%] bg-[#4f5733] rounded-l-full pr-[8%] pl-[2%]">
				<ul class="inline-flex text-white my-[5%]  font-semibold space-x-10 text-center">
					<a href="/sesion">INICIAR SESIÓN</a>
					<a href="/registro">REGISTRATE</a>
				</ul>	
			</div>
		</header>
		<slot/>
		
	</body>
</html>
<style>
	@font-face {
		font-family: 'titulos';
		src: url('/fonts/CastoroTitling-Regular.ttf');
		font-weight: normal;
  		font-style: normal;
  		font-display: swap;
	}
</style>

	