---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="header h-20 bg-[#679e02] sticky top-0 text-white">
            <div class="flex container ml-[15%]">
                <div class="flex-menu  flex h-20 w-[60%] float font-sans uppercase ">
					<div class="w-[10%] h-[10%]  mr-10" >
						<img src="public/img/logo.png">
					</div>
                    
                    <menu class="py-5 ">
                        <li class="inline-block list-none m-[10px] "><a class="font-semibold hover:text-[#e1edf3] " href="/">RECOMENDACIONES</a></li>
                        <li class="inline-block list-none m-[10px] "><a class=" font-semibold hover:text-[#e1edf3] " href="#">CONTACTO</a></li>
                        <li class="inline-block list-none m-[10px] "><a class=" font-semibold hover:text-[#e1edf3]  " href="#">RESEÑAS</a></li>
                        <li class="inline-block list-none m-[10px] "><a class=" font-semibold hover:text-[#e1edf3]  " href="#">ACERCA DE</a></li>
                    </menu>
                </div>
                <div class="menu-right float w-[40%] ml-[20%] py-[1%] font-sans bg-[#4f5733] rounded-l-full">
                    <a href="#" class="btn-Iniciar p-[8px] font-sans no-underline inline-flex items-center gap-[8px] ">
                        INICIAR SESIÓN
                    </a>
					<p class="mx-[1%] inline-flex">|</p>
                    <a class="  no-underline" href="#">REGISTRARSE</a>
                </div>
            </div>
        </header>
		<slot/>
		
	</body>
</html>
<style>
	@font-face {
		font-family: 'titulos';
		src: url('/fonts/CastoroTitling-Regular.ttf');
		font-weight: normal;
  		font-style: normal;
  		font-display: swap;
	}
</style>

	