---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="header h-20 bg-[#ccd2d2] sticky top-0 ">
            <div class="container  max-w-[1200px] mx-auto  ">
                <div class="flex-menu  flex h-20 w-[60%] float-left items-center font-sans uppercase ">
					<div class="w-[25%]  bg-blue-500" >
						<img class="m-[25%]" src="C:\Users\User\Desktop\Proyectos\public\img\logo.png" alt="Spike">
					</div>
                    
                    <menu>
                        <li class="inline-block list-none m-[10px] "><a class="text-[#DCDEDF] font-semibold hover:text-[#e1edf3] " href="/">Quienes somos</a></li>
                        <li class="inline-block list-none m-[10px] "><a class="text-[#DCDEDF] font-semibold hover:text-[#e1edf3] " href="#">Acerca de</a></li>
                        <li class="inline-block list-none m-[10px] "><a class="text-[#DCDEDF] font-semibold hover:text-[#e1edf3] " href="#">Soporte</a></li>
                    </menu>
                </div>
                <div class="menu-right float-left w-[40%] my-2  text-[#DCDEDF] font-sans ">
                    <a href="#" class="btn-Iniciar mx-[6px] text-[#f8eeee] bg-[#3b2dfa] p-[8px] font-sans no-underline inline-flex items-center gap-[8px] ">
                        Registrarse
                    </a>
                    <a class="m-[0 6px] text-[#f8eeee] no-underline" href="#">Iniciar Sesión</a>
                </div>
            </div>
        </header>
		<slot/>
		
	</body>
</html>

	