---
interface Props {
	title: string;
}

const  title = "VerSell";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/public/img/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="bg-[#679e02] top-0 sticky w-full h-[auto] flex flex-row justify-between">
			<a href="/" class="ml-[10%] ">
				<img src="/public/img/logo.png" alt="" class="size-20 my-[20%] ">				
			</a>

			<div class="inline-flex w-[40%]">
				<ul class="inline-flex text-white space-x-10 my-[5%] font-semibold">
					<li><a href="/">INICIO</a></li>
					<li>RECOMENDACIONES</li>
					<li>CONTACTO</li>
					<li>RESEÑAS</li>
					<li >ACERCA DE</li>
				</ul>
			</div>
			<div class="inline-flex ml-[%] mr-[10%]">
				<ul class="inline-flex text-white my-[2%] font-semibold space-x-10 w-[100%]">
					<li class="my-[5%] ">
						<a href="/sesion" class="boton botonA  inline-flex text-center">INICIAR SESIÓN</a>
					</li>
					<li class="my-[10%]">
						<a href="/registro" class="boton botonA my-[10%]">REGISTRATE</a>
					</li>
				</ul>	
			</div>
		</header>
		<slot/>
		
	</body>
</html>
<style>
	@font-face {
		font-family: 'titulos';
		src: url('/fonts/CastoroTitling-Regular.ttf');
		font-weight: normal;
  		font-style: normal;
  		font-display: swap;
	}
	.botonA{
		@apply hover:bg-white hover:text-[#4f5733] hover:cursor-pointer;
	}
	.boton{
		@apply bg-[#4f5733] px-[20%] py-[5%] rounded-full border-2 border-[#4f5733];
	}
</style>

	