---
import Layout from "../../layouts/Layout.astro";
import { Icon } from 'astro-icon/components';
---
<Layout title="Compra Tomate de Abrego">
    <div class="bg-[url('/img/fondos/fondoVentas.jpg')] w-[100%] h-[1000px] bg-no-repeat">
        <div class="w-[80%] h-[80%] mx-auto pt-[1%]">
            <div class="w-[80%] h-[100%] bg-[#719c64] mx-[10%] py-[1%] rounded-[32px] shadow-2xl">
                    <ul class="ml-[45%] mt-[-18px] flex items-center">
                        <Icon class="text-white w-[10%] h-[10%]" name="mdi:account-circle" />
                        <li class="text-white ">N O M B R E</li>
                        <ul class="bg-[#a1bd93] rounded-[32px] ml-[41.3%] text-white px-[10%] py-[2.65%]">
                            <p>C O M P R A R</p>
                        </ul>
                    </ul>
                    <div class="grid grid-cols-4   h-56 text-white">
                        <div class="items-center place-items-center w-[100%] ">
                            <div class="bg-[url('/img/lechuga.jfif')] w-[60%] h-[69%] ml-[20%] my-[13%] rounded-full bg-cover">
                                
                            </div>
                        </div>
                        <div class="w-[200%] mt-8">
                            <ul class="flex">
                                <li class="tracking-[5px] mt-2">PRECIO DE LA CAJA O COSTAL:</li>
                                <li class="px-6 py-2 bg-[#427a36] rounded-3xl tracking-[5px] ">
                                    ----------------
                                </li>
                            </ul>
                            <ul class="flex mt-3">
                                <li class="tracking-[5px] mt-2">CANTIDAD DE CAJAS A LA VENTA:</li>
                                <li class="px-6 py-2 bg-[#427a36] rounded-3xl tracking-[5px] ">
                                    -----------
                                </li>
                            </ul>
                            <ul class="flex mt-3">
                                <li class="tracking-[5px] mt-2">PESO DE LA CAJA:</li>
                                <li class="px-6 py-2 bg-[#427a36] rounded-3xl tracking-[5px] ">
                                    ----------------
                                </li>
                            </ul>
                            <ul class="text-red-600 mt-2 font-bold tracking-[5px]"> 
                                FECHA DE PUBLICACIÓN:
                            </ul>
                        </div>
                      </div>
                    <div class="flex text-white mt-14 font-medium tracking-[5px] ml-[3%]">
                        <div class="">
                            <ul class="">FOTOS DEL PRODUCTO:</ul>
                            <ul class=" mt-7 bg-[#427a36] h-[80%] py-36 w-[140%] rounded-3xl"></ul>
                        </div>
                        <div class="ml-[15%]">
                            <ul class="">FOTOS DEL PRODUCTO:</ul>
                            <ul class=" mt-7 bg-[#427a36] h-[80%] py-36 w-[100%] rounded-3xl"></ul>
                        </div>
                        <div class="ml-[5%]">
                            <ul class="ml-[50%]">NEGOCIEMOS</ul>        
                            <ul class=" mt-7 bg-[#d0dec2] h-[80%] py-36 w-[177%] rounded-3xl"></ul>
                            <ul class="bg-[#a1bd93] h-[16%] w-[177%] pt-5 pl-[42%] rounded-3xl">ENVIAR MENSAJE</ul>
                        </div>
                    </div>
            </div>
        </div>   
    </div>
</Layout>